name: Build

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
  delete:

permissions:
  contents: read
  pull-requests: write
  id-token: write

jobs:
  buf:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: actions/setup-go@v6
        with:
          check-latest: true

      - name: install buf
        uses: bufbuild/buf-action@v1
        with:
          setup_only: true
          github_token: ${{ secrets.GITHUB_TOKEN }}

      - name: check codegen is up to date
        run: |
          buf generate
          go mod tidy

          git update-index -q --really-refresh
          if ! git diff-index --quiet HEAD --; then
            echo "::error title=Code generation out of date::buf generate && go mod tidy resulted in tracked files changing"
            git diff-index HEAD --
            git diff
            git status
            exit 1
          fi
          
          if ! test -z "$(git ls-files --others)"; then
            git ls-files --others
            echo "::error title=Code generation out of date::buf generate && go mod tidy resulted in new untracked files being created"
            exit 1
          fi

      - name: buf
        uses: bufbuild/buf-action@v1
        with:
          token: ${{ secrets.BUF_TOKEN }}
          push_disable_create: true

      - uses: dart-lang/setup-dart@v1
      - name: Install dart dependencies
        run: dart pub get
        working-directory: dart
      - name: Publish dart - dry run
        run: dart pub publish --dry-run
        working-directory: dart
      - name: Publish dart to pub.dev
        if: startsWith(github.ref, 'refs/tags/v')
        run: dart pub publish -f
        working-directory: dart
